<% if movie.errors.any? %>
  <div>
    <h2>There were errors!</h2>
    <p><%= movie.errors.full_messages.to_sentence %></p>
  </div>
<% end %>

<%= form_for movie do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :rating %>
  <%= f.text_field :rating %>

  <%= f.label :release_date %>
  <%= f.text_field :release_date %>

  <%= f.submit "Submit" %>
<% end %>
