<h1>All Movies</h1>

<%= form_tag movies_path, :method => :get do %>
  Include:
  <% all_ratings.each do |rating| %>
    <%= rating %>
    <%= check_box_tag "ratings[#{rating}]", "1", ratings_params[rating] %>
  <% end %>
  <%= submit_tag 'Refresh' %>
<% end %>

<table id="movies">
  <thead>
    <tr>
      <th class="<%= 'highlight' if session[:sort_by] == 'title' %>">
        <%= link_to "Movie Title", sort_by: 'title' %>
      </th>
      <th>Rating</th>
      <th class="<%= 'highlight' if session[:sort_by] == 'release_date' %>">
        <%= link_to "Release Date", sort_by: 'release_date' %>
      </th>
      <th>More Info</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date %></td>
        <td><%= link_to "More about #{movie.title}", movie %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add new movie', action: :new %>
