<!DOCTYPE html>
<html>
<head>
  <title>Imdb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1 class="title">Imdb</h1>
  <div style="float:right; margin-right: 20px;">
    <% if user_signed_in? %>
      Welcome, <%= current_user.email %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path %>
    <% end %>
  </div>
  
  <div id="main">
    <%= render 'flash' %>
    <%= yield %>
  </div>

</body>
</html>
